body{
    background-color: beige;
}
.header{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Playwrite AU TAS", cursive;
    border-radius: 5px;
    margin: 15px;
    height: 200px;
}

.book-widget {
    border: 1px solid #ddd;
    background-color:wheat ;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    transition: transform 0.4s ease-in-out
}

.book-widget:hover{
 transform: scale(1.08);
 cursor: pointer;
}
.book-widget img {
    max-width: 100%;
    height: auto;
    height: 300px;
}

.book-widget h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.book-widget .author {
    font-size: 0.9em;
    color: #555;
}


#book-container{
    display: flex;
    flex-wrap: wrap;
}

#Filter{
display: flex;
justify-content: center;
}

#phy,#chm,#mth{
    padding: 20px;
}
 
.main {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
}

.main input[type=checkbox] {
    visibility: hidden;
}

.checkbox-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 2px solid #000;
}



.main input:checked~.checkbox-container {
    background-color: black;
}

.main input:checked~.checkbox-container::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid yellow;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.main input:checked~.checkbox-container::after {
    display: block;

}


